<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FeatureReviewSupportTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FeatureReviewSupportTool.ScmSystemHooks.ClearCase.ClearcaseSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <appSettings>
        <add key="SaveSearchResults" value="true" />
    </appSettings>

    <!--
    <system.diagnostics>
      <trace autoflush="true">
        <listeners>
          <add
            name="LogWriter" 
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="c:\program files\sep\code review support tool\trace.log"
              />
        </listeners>
      </trace>
    </system.diagnostics>
    -->

    <userSettings>
        <FeatureReviewSupportTool.Properties.Settings>
            <setting name="LastScmSystem" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchResults" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchString" serializeAs="String">
                <value />
            </setting>
            <setting name="ShouldUpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </FeatureReviewSupportTool.Properties.Settings>
        <FeatureReviewSupportTool.ScmSystemHooks.ClearCase.ClearcaseSettings>
            <setting name="ClearcaseViewDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Since" serializeAs="String">
                <value>365.00:00:00</value>
            </setting>
            <setting name="IsDateFilterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </FeatureReviewSupportTool.ScmSystemHooks.ClearCase.ClearcaseSettings>
    </userSettings>
</configuration>
