<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FeatureReviewSupportTool.plugin.ClearCase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FeatureReviewSupportTool.plugin.ClearCase.Properties.Settings>
            <setting name="ClearcaseViewDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDateFilterEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Since" serializeAs="String">
                <value>365.00:00:00</value>
            </setting>
        </FeatureReviewSupportTool.plugin.ClearCase.Properties.Settings>
    </userSettings>
</configuration>